.clicked {
  border-color: #eaeef5;
  cursor: pointer;
  text-align: left;
}

.clicked:hover {
  border-color: #664de5;
}

.clicked:active {
  border-color: #664de5;
}

.person-div {
  display: flex;
  gap: 12px;
  padding: 12px;
  border: 1px solid black;
  border-radius: 8px;
}

@media screen and (max-width: 1228px) {
  .selectionDiv {
    flex-wrap: wrap;
  }

  .clicked {
    min-width: 200px;
  }
}

@media screen and (max-width: 800px) {
  .submitButton {
    min-width: 100%;
  }
}
